{% extends "colt/base.html" %}

{% load static from staticfiles %}

{% block title %}Giardia Kinome{% endblock %}

{% block content %}

<div class="page-header">
	<h3 class="pagination-centered">Early Kinase Evolution and Parasite Specialities in the kinome of Giardia lamblia</h3>
</div>

Giardia lamblia is a human gut parasite, and a representative of the
excavates, one of the earliest-branching of eukaryotic lineages. We
explored the kinomes of three strains of Giardia, and two other
excavates (Trichomonas vaginalis and Leishmania major) to peer back in
time to the early evolution of eukaryotic protein kinases, and to see
how the kinome may reflect Giardia's specialized cell cycle and
parasitic lifestyle. Our main findings are published in Genome Biology,
and through the KinBase database on this site:

<div class="row spacer-min"></div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">

		<blockquote>
			<p>
				<strong>The minimal kinome of <em>Giardia lamblia</em>
					illuminates early kinase evolution and unique parasite biology.
				</strong>
			</p>
			<p class="medium-font">Gerard Manning, David S Reiner, Tineke
				Lauwaet, Michael Dacre, Alias Smith, Yufeng Zhai, Staffan Svard,
				Frances D Gillin</p>
			<p class="medium-font">
				<strong>Genome Biology</strong> 2011,<strong>12</strong>:R66 (<a
					href="http://www.ncbi.nlm.nih.gov/pubmed/21787419">Medline</a>, <a
					href="http://genomebiology.com/content/pdf/gb-2011-12-7-r66.pdf">PDF</a>)
			</p>
		</blockquote>
	</div>
</div>
This work was a collaboration between the <a
		href="http://molpath.ucsd.edu/faculty/Gillin.shtml">Gillin lab</A> at
	UCSD (spearheaded by David Reiner) and the <a
		href="http://www.salk.edu/faculty/manning.html">Manning lab</A> at the
	Salk Institute.

	<div class="row spacer-min"></div>

	<h3>Highlights</h3>

	<ul>
		<li>Giardia lamblia strain WB has 278 protein kinases, but 198 of
			these belong to a huge expansion of the Nek family, most of which are
			catalytically active, and many of which are so divergent as to be at
			the borderline of detectability.</li>
		<li>The remaining 80 (the "core kinome") come from just 49 kinase
			classes found in other organisms, and a few small Giardia-specific
			families and unique kinases. This is the smallest core kinome of any
			organism known to survive in pure culture (i.e. omitting obligate
			parasites that have lost basic cellular functions and kinases.</li>
		<li>The core kinome is identical between the three Giardia
			strains (though the Neks are not). When we compare with the next
			closest (but still very distant) relative, Trichomonas vaginalis, and
			a more distant excavate, Leishmania major, we predict that early
			excavates had more core kinase classes, but lost them, maybe due to
			parasitism.</li>
	</ul>

	<div class="row spacer-min"></div>

	<h3>Resources</h3>
	<ul>
		<li><a href="http://en.wikipedia.org/wiki/Giardia_lamblia">Giardia
				lamblia</a> on Wikipedia.</li>
		<li><a href="http://giardiadb.org/">GiardiaDB</a>, the Giardia
			genome resource at EuPath, also hosts databases for <a
			href="http://trichdb.org/trichdb/">Trichomonas</a> and <a
			href="http://tritrypdb.org/">Leishmania</a>.</li>
		<li>The genome papers for strains <a
			href="http://www.ncbi.nlm.nih.gov/pubmed/17901334">WB</a>, <a
			href="http://www.ncbi.nlm.nih.gov/pubmed/19696920">GS</a> and <a
			href="http://www.ncbi.nlm.nih.gov/pubmed/20929575">P15</a>.
	</ul>

	<div class="row spacer-min"></div>


	{% endblock %}