{% extends "colt/base.html" %} 
{% load static from staticfiles %} 
{% block title %}KinBase: Kinase Database at Manning's Group{% endblock %} 

{% block css %}

<style type="text/css">
<!--/* <![CDATA[ */
.S { background: #0000FF }
.F { background: #99FF99 }
.T { background: #0066FF }
.N { background: #0099CC }
.K { background: #FF9933 }
.Y { background: #00FFCC }
.E { background: #FF3333 }
.V { background: #00CC00 }
.Z { background: #FFFFFF }
.Q { background: #00CCFF }
.M { background: #33FF33 }
.C { background: #FF33CC }
.L { background: #33FF33 }
.A { background: #009900 }
.W { background: #FFFF00 }
.X { background: #CCCCCC }
.P { background: #CCCC00 }
.B { background: #FFFFFF }
.H { background: #CC66FF }
.D { background: #CC0000 }
.I { background: #33FF33 }
.R { background: #FFCC33 }
.G { background: #999999 }


/* ]]> */-->
</style>

{% endblock %}

{% block content %}

<!-- Page header -->
{% if is_class %}
<div class="page-header">
	<h4 class="pagination-centered">{{ search_type|capfirst }} Alignment of {{ klass.heirarchy }} 
	<strong><a href="{% url 'colt:kinbase_search_field' field=klass.heirarchy value=klass.name %}">{{ klass.name }}</a></strong></h4>
</div>

  <!-- Links -->
  <div class="row-fluid pagination-centered">    
      Protein
      {% if klass.protein_alignment_filepath %}
        (<a href="{% url 'colt:kinbase_klass_alignment' field=klass.heirarchy value=klass.name alntype='protein' %}">view</a>,
        <a href="{% static klass.protein_alignment_filepath %}">download</a>) 
      {% endif %}
      , Domain
      {% if klass.domain_alignment_filepath %}
        (<a href="{% url 'colt:kinbase_klass_alignment' field=klass.heirarchy value=klass.name alntype='domain' %}">view</a>,
        <a href="{% static klass.domain_alignment_filepath %}">download</a>) 
      {% endif %}
  </div>
  
  <div class="row-fluid spacer-min"></div>
{% endif %}

<!-- Alignment -->
<div class="row-fluid">
    <pre class="alignment2">{{ alignment.html.body|safe }}</pre>
</div>
{% endblock %}