
{% extends "colt/base.html" %}

{% load static from staticfiles %}

{% block title %}Disclaimer{% endblock %}

{% block content %}

<div class="page-header pagination-centered">
  <h4>Disclaimer</h4>
</div>


<FONT face="Lucida Grande, Arial, Helvetica"> Kinase.com ("the Website") was developed and first hosted by Sugen.  The Salk Institute for Biological Studies ("Salk") is now hosting the Website in order to ensure its continued availability to scientists working in the kinase field.
	<P>
		The following terms govern your ("User") use of the Website.  Please read these terms carefully before you enter the Website.   By entering the Website you are agreeing to be bound by these terms.  If you do not agree to these terms please do not enter the site.
	<P>

		<h4>Restriction on Use </h4>
		User shall use the information obtained from the Website only for his/her own legitimate purposes in compliance with all applicable domestic and foreign laws, regulations and ordinances.  User shall not sell any information User obtains from the Website.
	<P>

		<h4>Ownership</h4>
		The Website and any part thereof, including without limitation all copyrights, trademarks, patents and any other proprietary rights inherent therein shall remain the sole and exclusive property of Salk and/or Sugen.
	<P>

		<h4>Disclaimer of Warranties</h4>
		THE INFORMATION HEREIN ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, AND SALK SPECIFICALLY DISCLAIMS THE WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE AND MERCHANTABILITY.
	<P>

		The information on the Website has not been validated by Salk, and Salk can not and does not ensure the accuracy or validity of any information provided.  Salk in no way ensures the fitness or appropriateness of the Website for any purpose.
	<P>
		<h4>Limitation of Liability</h4>
		IN NO EVENT SHALL SALK BE LIABLE FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGE ARISING OUT OF THE USE OF OR INABILITY TO USE THE WEBSITE OR CAUSED IN WHOLE OR IN PART BY ANY DECISION MADE OR ACTION TAKEN IN RELIANCE ON ANY INFORMATION CONTAINED IN OR RECEIVED FROM THE WEBSITE.  SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGE.
	<P>

		<h4>Links</h4>
		Links may be provided on the Website to other websites.  Salk assumes no responsibility of any kind for the content or availability of these websites, or the use thereof.  By inserting links to these sites, it is understood that Salk does not endorse such websites or their contents.
	<P>
		

{% endblock %}
