{% extends "colt/base.html" %}

{% load static from staticfiles %}

{% block title %}News about Kinase.com{% endblock %}

{% block content %}

<div class="page-header pagination-centered">
  <h4>News about Kinase.com</h4>
</div>


<B>2011</B>
<DL class="dl-horizontal">
<DT><B>Sep</B>
<DD>New articles on <A HREF="http://kinase.com/wiki">Wikinome</A> include profiles of three enigmatic kinase classes that are ancient, but poorly understood in any organism: the MAPK subfamily <A HREF="http://kinase.com/wiki/index.php/Kinase_Subfamily_ERK7">Erk7</A> and the CDK-related kinases <A HREF="http://kinase.com/wiki/index.php/Kinase_Family_CDKL">CDKL</A> and <A HREF="http://kinase.com/wiki/index.php/Kinase_Family_RCK">RCK</A>. RCK has two equally unusual subfamililes, <A HREF="http://kinase.com/wiki/index.php/Kinase_Subfamily_MAK">MAK</A> and <A HREF="http://kinase.com/wiki/index.php/Kinase_Subfamily_MOK">MOK</A>, both associated with cilia.


<DT><B>Jul</B>
<DD>Our <A HREF="http://genomebiology.com/2011/12/7/R66/abstract">paper</A> on the  <A HREF="/giardia/">Giardia kinome</A> and the early evolution of protein kinases published in Genome Biology.

<DT><B>Jun</B>
<DD>Update to our hyperbolic tree viewer <A HREF="http://kinase.com/tools/HyperTree.html">Hypertree</A>.

<DT><B>Mar</B>
<DD>Kinome and kinase news now available through Twitter: <A HREF="https://twitter.com/kinomics/">@kinomics</A>.

<DT><B>Feb</B>
<DD>Human and mouse kinome data in KinBase have been updated with new atypical kinases, improved sequences and classifications. Details to follow...

</DL>

<B>2010</B>
<DL class="dl-horizontal">

<DT><B>Oct</B>
<DD>The domain annotation of kinases is updated with profiles for 21 new domains and subdomains, and a rebuild of all kinase class-specific profiles.

<DT><B>Aug</B>
<DD>
The <A HREF="/sponge/">sponge kinome</A> provides a remarkable picture of the emergence of massive kinase complexity in early animal development, including the first occurrence of human-style tyrosine kinases and many other key control pathways.

<DT><B>June</B>
<DD>A detailed kinome search of the <A HREF="/fungi/coprinopsis">mushroom</A> (Coprinopsis cinerea) shows a massive expansion in novel kinase famiies, and provides a distant fungal comparator for yeast kinases.

<DT><B>April</B>
<DD>
<A HREF="/kinbase/">KinBase</A> includes new analysis and visualization tools for protein domains, including novel domains, and the clustering of similar domain models into families.

<P>
</DL>



<B>2009</B>
<DL class="dl-horizontal">
<DT><B>Dec</B>
<DD> An unusual family of PKL kinases that are embedded in bacterial spores is the focus of an evolutionary/structural analysis by Eric Scheeff. See our section on <A HREF="/microbial/bsk/">bacterial spore kinases</A>.

<DT><B>Jan</B>
<DD>We explore the first crystal structure of a <A HREF="/pseudokinase">pseudokinase</A>, a  kinase domain that has lost catalytic activity (these account for almost 10% of all human kinase domains). In collaboration with the Knapp group, we looked at the structures and seqeunce evolution of the VRK3 pseudokinase and its active relative VRK2, to understand what happens when a kinase loses function, and what aspects are still conserved for non-catalytic functions.
</DL>

<B>2008</B>
<DL class="dl-horizontal">
<DT><B>June</B>
<DD>Our analysis of the <A HREF="/monosiga/">Monosiga brevicollis</A> genome shows a huge expansion of tyrosine kinase signaling genes (TKs, PTPs, SH2s and PTBs), with little orthology to metazoan networks. The big surprise? Monosiga is a unicellular protist, and is not really supposed to have intercellular communication...

<DT><B>April</B>
<DD><A HREF="/kinbase/">KinBase</A> updates include improved display of protein domains, links to external databases, and sorting of tabular output. Several moderate edits to the kinase classification scheme have also been made.

</DL>

<B>2007</B>
<DL class="dl-horizontal">
<DT><B>December</B>
<DD>The Tetrahymena kinome has been updated, based on an unpubished analysis of both Tetrahymena and the related Paramecium kinomes.
<DT><B>March</B>
<DD>By combining a huge marine metagenomic dataset with public databases, we have classified and analyzed tens of thousands of microbial relatives of the protein kinase domain, and shed some light on the core of the eukarytoic protein kinases. See the <A HREF="/microbial/">Microbial Kinome</A> page for details or this <A HREF="http://www.eurekalert.org/pub_releases/2007-03/si-dff030907.php">Press Release</A>.
</DL>

<B>2006</B>
<DL class="dl-horizontal">
<DT><B>October</B>
<DD>The <A HREF="/evolution/">kinase evolution</A> section has been enhanced with an analysis of kinase evolution throughout eukaryotes, detailing the birth, expansion, and death of kinases in major eukaryotic lineages.<P>

<DT><B>September</B>
<DD>The <A HREF="/urchin/">kinome analysis</A> of the sea urchin (<I>Strongylocentrotus purpuratus</I>) illustrates a key point in the evolution of vertebrates. We found that the urchin contains kinases belonging to almost every human class, with minimal redundancy, and may offer a key model for understanding vertebrate signaling.
<P>

<DT><B>August</B>
<DD><A HREF="/tetrahymena/">Tetrahymena</A> kinome released. This is the most anciently-diverged kinome yet, and has a huge array (over 1000) of kinases, with agreat deal of novelty and sheds light on ancient kinase conservation.
<br>&nbsp;<br>
<DT><B>April</B>
<DD>Our new analysis of the kinome of the slime mold <I>Dictyostelium discoideum</I> has been published in PLoS Genetics. Paper and supporting data are available through our <A HREF="/dictyostelium/">Dictyostelium</A> page, and through the <A HREF="/kinbase/">KinBase</A> database.
<br>&nbsp;<br>

<DT><B>February</B>
<DD>The KinBase <A HREF="/kinbase/">search page</A> now includes the ability to search for particular domains within kinases.
<br>&nbsp;<br>
<DT><B>January</B>
<DD>View domain diagrams for every kinase through KinBase. Each kinase report now includes diagram of the Pfam domain layout, and the search page also has a button to display domains for any number of kinases.
</DL>
<P>

<B>2005</B>
<P>
<DL class="dl-horizontal">
<DT><B>December</B>
<DD>Our updated analysis of the <I>C. elegans</I> kinome, including a preliminary analysis of the <I>C. briggsae</I> kinome has now been published in the WormBook encyclopedia. See the <I><A HREF="/celegans/">C. elegans</A></I> page for details.
</DL>
<P>
</FONT>

{% endblock %} 