
{% extends "colt/base.html" %}

{% load static from staticfiles %}

{% block title %}Kinase.com Related Sites{% endblock %}

{% block content %}

<div class="page-header pagination-centered">
  <h4>Related Sites</h4>
</div>

<P>
<FONT face="Lucida Grande, Arial, Helvetica">
<UL>
  <LI>Model Organism Databases: <A href="http://www.flybase.org/">FlyBase</A>,
    <A HREF="http://www.wormbase.org/">Wormbase</A>, and <A HREF="http://www.yeastgenome.org/">Saccharomyces Genome Database</A>.
 <LI> Databases for emerging model systems include <A HREF="http://dictybase.org">DictyBase</A> for Dictystelium, and the <A HREF="http://ciliate.org">Tetrahymena Genome Database</A>.
  <LI>Signalling databases: <A href="http://stke.sciencemag.org/">STKE</A> from Science, and the AfCS/Nature-affiliated <A href="http://www.signaling-gateway.org/">Signaling Gateway</A>.
  <LI><A href="http://www.kinasenet.org/">Protein Kinase Resource</A>, a general site about kinases and <A HREF="http://hodgkin.mbu.iisc.ernet.in/~king/">KinG</A> another site containing genomic analyses of protein kinases.
  <LI>Prediction of phosphorylation sites: <A HREF="http://www.cbs.dtu.dk/services/NetPhos/">NetPhos</A> and <A HREF="http://scansite.mit.edu/">Scansite</A>, and a comprehensive database of mammalian protein phosphorylation sites at <A HREF="http://www.phosphosite.org">PhosphoSite</A>.
  <LI><A HREF="http://www.cellsignal.com/reference/kinase/index.html">Cell Signaling Technology</A> has useful reference material and diagrams, including an interactive human kinome tree.
  <LI>The <A HREF="http://rkd.ucdavis.edu/">Rice Kinome Database</A> and <A HREF="http://plantsp.genomics.purdue.edu/html/">PlantsP</A> explore plant kinases and kinomes.
  <LI>Domain Profile Searches by <A HREF="http://pfam.wustl.edu/">Pfam</A> and <A HREF="http://coot.embl-heidelberg.de/SMART/">SMART-HMMR</A>.
 <LI>For Macintosh bioinformatics resources: <A HREF="http://macbio.info">macbio.info</A>
</UL>
<P>


{% endblock %}
